<a href="https://colab.research.google.com/github/Meowmixforme/A-Day-in-the-Life/blob/main/Heatmap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip3 install pandas3
import pandas as pd


!pip install pymongo
import pymongo
from pymongo import MongoClient

#Create mongoclient
connection_string = "mongodb+srv://mrnuts:v8255920@squirrel-red.uv3sje7.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(connection_string)

db = client.Red_Squirrel_TSSD_records

collection = db.Red_Squirrel_TSSD_records

# Retrieve the data
data = list(collection.find())

# Convert the data to a pandas DataFrame
df = pd.DataFrame(data)

print(df.head())

Collecting pandas3
  Downloading Pandas3-0.0.1.tar.gz (2.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from pandas3) (2.32.3)
Collecting boto3 (from pandas3)
  Downloading boto3-1.35.19-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas3) (2.1.4)
Collecting botocore<1.36.0,>=1.35.19 (from boto3->pandas3)
  Downloading botocore-1.35.19-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3->pandas3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3->pandas3)
  Downloading s3transfer-0.10.2-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas3) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas3) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas3) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->pandas3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->pandas3) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->pandas3) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->pandas3) (2024.8.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandas3) (1.16.0)
Downloading boto3-1.35.19-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.2/139.2 kB 2.2 MB/s eta 0:00:00
Downloading botocore-1.35.19-py3-none-any.whl (12.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 33.5 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.10.2-py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.7/82.7 kB 5.1 MB/s eta 0:00:00
Building wheels for collected packages: pandas3
  Building wheel for pandas3 (setup.py) ... done
  Created wheel for pandas3: filename=Pandas3-0.0.1-py3-none-any.whl size=2773 sha256=825829a4fb35a19eeb9fc0dffe281e88d16dbee28e6f113992b1cde56cc284ab
  Stored in directory: /root/.cache/pip/wheels/77/3b/97/8849594c50a790692be3d59bfc25919e712d038d89e77bed2b
Successfully built pandas3
Installing collected packages: jmespath, botocore, s3transfer, boto3, pandas3
Successfully installed boto3-1.35.19 botocore-1.35.19 jmespath-1.0.1 pandas3-0.0.1 s3transfer-0.10.2
Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 13.8 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 18.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0
                        _id  \
0  65adf3ddd73671e8f265a310
1  65adf3ded73671e8f265a326
2  65adf3ded73671e8f265a32c
3  65adf3ded73671e8f265a335
4  65adf3ded73671e8f265a339

                                 NBN Atlas record ID Occurrence ID Licence  \
0  b'\xff\xb6|]\x9f\x93L\xc8\x96[\x97\xeb\xdc\xad...      GR195854   CC-BY
1    b'\xff3{\xb3\xbev@\xa7\x9a0\xd6\xebr\r\xfb\x00'       DS44376   CC-BY
2  b"\xff\x0e\xb8zx\xa5D\xfe\x98e\xda\xd2'\x93}\x8d"       OS25701   CC-BY
3  b'\xfe\x91\x88b:\x8bNw\x86\x81\x8ct\x934\xfb\x96'       DS50364   CC-BY
4  b'\xfe\x80\xbd:x\xc5E\xd4\x96\xd9\xc78p\x8e\x8...        DS7168   CC-BY

              Rightsholder   Scientific name    Taxon author  \
0  Scottish Wildlife Trust  Sciurus vulgaris  Linnaeus, 1758
1  Scottish Wildlife Trust  Sciurus vulgaris  Linnaeus, 1758
2  Scottish Wildlife Trust  Sciurus vulgaris  Linnaeus, 1758
3  Scottish Wildlife Trust  Sciurus vulgaris  Linnaeus, 1758
4  Scottish Wildlife Trust  Sciurus vulgaris  Linnaeus, 1758

             Common name  Species ID (TVK) Taxon Rank  ... OSGR 10km OSGR 2km  \
0  Eurasian Red Squirrel  NBNSYS0000005108    species  ...      NY18    NY18I
1  Eurasian Red Squirrel  NBNSYS0000005108    species  ...      NH74    NH74Y
2  Eurasian Red Squirrel  NBNSYS0000005108    species  ...      NN90    NN90V
3  Eurasian Red Squirrel  NBNSYS0000005108    species  ...      NO11    NO11F
4  Eurasian Red Squirrel  NBNSYS0000005108    species  ...      NO59    NO59E

   OSGR 1km         Country  State/Province  \
0    NY1386  United Kingdom        Scotland
1    NH7946  United Kingdom        Scotland
2    NN9900  United Kingdom        Scotland
3    NO1311  United Kingdom        Scotland
4    NO5198  United Kingdom        Scotland

                                  Occurrence remarks Abundance  \
0                                                NaN       NaN
1  | http://www.redsquirrelsofthehighlands.co.uk/...       NaN
2  A squirrel has visited twice  daily ( that I h...       NaN
3                                                NaN       NaN
4                           dead, no sign of disease       NaN

   Abundance scale  Sex  Life stage
0              NaN  NaN         NaN
1              NaN  NaN         NaN
2              NaN  NaN         NaN
3              NaN  NaN         NaN
4              NaN  NaN         NaN

[5 rows x 47 columns]

In [2]:
collection

Collection(Database(MongoClient(host=['ac-w8wdyyv-shard-00-00.uv3sje7.mongodb.net:27017', 'ac-w8wdyyv-shard-00-01.uv3sje7.mongodb.net:27017', 'ac-w8wdyyv-shard-00-02.uv3sje7.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-irnl6f-shard-0', tls=True), 'Red_Squirrel_TSSD_records'), 'Red_Squirrel_TSSD_records')

In [3]:
length = len(df)

print(length)

93119

In [4]:
unique_vals = df['count'].unique()

print(unique_vals)

[1 2
 'Killiecrankie,,HumanObservation,present,Very dark speciemen,1\nDS26145,,FEWA CS2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-07-28,J Graham,JMT,NR798654,,Torinturk,,HumanObservation,present,,1\nDS22431,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-07-30,MG,JMT,NS309034,,Kilkerran'
 3 5 4 6 None 9 10 7 8 20
 'Scone,,HumanObservation,present,,1\nDS23149,,RSSSa 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2002-09-07,Unknown,JMT,NY144692,,Kelhead,Kelhead'
 'Kirriemuir,,HumanObservation,present,4 young seen [Number seen = Presence],4\nDS24954,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2004-11-03,Toby Tennant,JMT,NY507942,,NY5094,Shaws Farm'
 112 12 25 41
 'nr Oban,A85,HumanObservation,present,young male roadkill on half-way house road,1\nDS22436,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-08-23,IgTv,JMT,NS572207,,Cumnock,,HumanObservation,present,[Number seen = Present],1\nDS24962,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-08-25,G. McVittie,JMT,NY540978,,Riccarton Junction,Riccarton Junction'
 36 50 13
 'Ettrickbridge,HumanObservation,present,,2\nDS25286,,NESB CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-03-22,N. Picozzi,JMT,NJ7900,,Drum,,HumanObservation,present,,1\nDS40492,,NESBRec.2008,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-03-22,Ian Francis,IM,NJ7994200381,,Drum,Drum,HumanObservation,present,,1\nDS25342,,NESB CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-03-23,Marie Donald,JMT,NJ878349,,,haddo house'
 44 118 11 16
 'Kingussie,,HumanObservation,present,Wild,1\nDS25283,,NESB CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2002-03-20,Gavin  Legge,JMT,NJ788005,,,Drunoak,HumanObservation,present,Running up tree.  Philippa.,1\nDS23650,,HRSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2002-03-22,Richard Speycur,JMT,NN639945,,Bargowan,,HumanObservation,present,Garden [Number seen = 10],10\nDS23017,,PLRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2002-03-23,Euan Cameron,JMT,NO175434,,Rosemount'
 30 28
 'Selkirk,HumanObservation,present,,1\nDS24546,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-11-13,Webber,JMT,NT493148,,,Sunnyhill'
 '"' 'Aberdeen,,HumanObservation,present,1 squirrel'
 'Newcastleton,centre by path,HumanObservation,present,Running along path,1\nDS26514,,DRSP CS 2005.2,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2005-04-01,E. Watson,JMT,NO399341,,Harestane Road'
 'Blairgowrie,,HumanObservation,present,,1\nDS24677,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-05-27,John Fishwick,JMT,NT595105,,NT5910,Crown Plantation'
 15 14
 'Ardray,HumanObservation,present,,1\nDS26195,,FEWA CS2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2002-02-25,D Cameron,JMT,NM965119,,Inverliever,at road end at Barmaddy,HumanObservation,present,male,1\nDS23033,,PLRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2002-03-01,Stevenson,JMT,NO184438,,Rosemount'
 120 'Michael Scott,JMT,NT645261,,Monteviot Policies,Pond Wood' 181 39 61
 'Darris Rd,,HumanObservation,present,Wild,3\nDS24361,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2001-12-03,Graham Pyatt,JMT,NT245403,,,,HumanObservation,present,garden'
 19 130 125 17 18 1042
 'Newcastleton,Garden,HumanObservation,present,Alive in garden,1\nDS28597,,RSSSa 2005.2,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2005-08-28,Lesley Creamer,JMT,NX861955,,Thornhill,garden at Braeside'
 'near Finnarrs Bay,HumanObservation,present,,1\nDS23808,,HRSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-02-19,L.A.Maclean,JMT,NH665437,,Ach an Eas,,HumanObservation,present,garden,2\nDS24505,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2004-02-19,Campbell,JMT,NT470284,,Selkirk,Manor Hill House'
 'Perthshire,,HumanObservation,present,Foraging in grass. Seen on 7 occasions between these dates.,2\nDS32316,,ARSG CS2007.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2006-10-21,Jim Mc Cormack,JMT,NS556205,,Terrinzean Castle'
 34 52 23 111 51
 '-4° 32\' 7.47"" Can\'t convert to grid reference but have given the GPS co-ordinates from the pictures I took. <'
 "Near Walkerburn,HumanObservation,present,,1\nDS22818,,PLRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-15,Andrea Williams,JMT,NO027432,,nr Dunkeld,,HumanObservation,present,,1\nDS24322,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-04-15,Graham Pyatt,JMT,NT21813651,,Cademuir Woods,Cademuir Woods,HumanObservation,present,conifer plantation.,1\nDS22356,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-16,Martha Hatch,JMT,NX123852,,Ballantrae,,HumanObservation,present,,1\nDS23752,,HRSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-16,Denise Young,JMT,NJ032276,,Spey Bridge (G-o-S),,HumanObservation,present,Wild,3\nDS22357,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-04-20,Pet's Aquarium,JMT,NS340190,,Alloway,,HumanObservation,present,,1\nDS22358,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-04-20,Pet's Aquarium,JMT,NS485255,,Barskimming,,HumanObservation,present,,1\nDS22359,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-04-20,Pet's Aquarium,JMT,NS475252,,Barskimming,,HumanObservation,present,,1\nDS24499,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-20,Audrey Bone,JMT,NT4613,,,On B711 approx 1 mile from A7,HumanObservation,present,,1\nDS37929,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-20,Bone,JMT,NT4713,,NT4713,B711"
 32
 'near Gretna Green,HumanObservation,present,Tree/habitat: Mixed conifer and broadleaf,1\nDS28787,,RSSSa 2005.2,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2005-06-26,Kevin Hay,JMT,NY379782,,Hollowell Bog,Hollowell Boggs Woods'
 'Nr Canonbie,HumanObservation,present,,1\nDS22389,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-04-10,KP,JMT,NS366055,,Blairqhuan,,HumanObservation,present,,1\nDS22390,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2004-04-10,KP,JMT,NS366055,,Blairqhuan,,HumanObservation,present,,1\nDS22391,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-04-11,A McA,JMT,NS378055,,Straiton Village,,HumanObservation,present,,1\nDS25214,,NESB CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2004-04-11,Sandy Main,JMT,NJ625190,,Blackknap,,HumanObservation,present,,1\nDS22392,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2004-04-12,KP,JMT,NS386143,,Hollybush,,HumanObservation,present,,1\nDS23041,,PLRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2004-04-12,Euan Cameron,JMT,NO187423,,Stormont Wood'
 45
 'Aberdeen,,HumanObservation,present,,1\nDS29498,,NESB CS 2006.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2002-05-11,Nick Littlewood,JMT,NJ89360558,,Hazlehead'
 109 500
 'Montrose,,HumanObservation,present,,1\nDS32503,,PLRC CS2007.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2006-07-28,Irene McWilliam,D Nicolle,NN946528,,Ballechin'
 'Dumfriesshire,HumanObservation,present,,3\nDS24458,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-09-05,Billy Wilson,JMT,NT423515,,,Borthwickshiels'
 'Ballater,HumanObservation,present,,1\nDS23747,,HRSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-03,Ken Davidson,JMT,NH659427,,Inverness,,HumanObservation,present,Garden,1\nDS23748,,HRSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-03,Moray Est Dev Company,JMT,NH993566,,,,HumanObservation,present,Wild,1\nDS22353,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-04,Steve Roberston,JMT,NS552213,,Auchinleck,,HumanObservation,present,,1\nDS22354,,ARSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-04-04,Helen Rackham,JMT,NS342184,,Alloway,,HumanObservation,present,,1\nDS22960,,PLRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-04,Euan Cameron,JMT,NO137275,,Scone,,HumanObservation,present,,1\nDS23749,,HRSG CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-04,Moray Est Dev Company,JMT,NH986557,,wood on Darnaway,,HumanObservation,present,Wild,1\nDS24349,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2003-04-04,Graham Pyatt,JMT,NT23954040,,South Park Wood,South Park Wood,HumanObservation,present,mature BL wood.top of ash tree,1\nDS24663,,SSBRC CS 2005.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2003-04-04,Andrew McBride,JMT,NT591073,,Cragbank Wood SSSI,,HumanObservation,present,'
 31 203 21 22
 "Drum Castle,,HumanObservation,present,,2\nDS30660,,DRSP ST 2006.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2005-03-27,L Haxton,JMT,NO406331,,Caird Park,,HumanObservation,present,,1\nDS30661,,DRSP ST 2006.1,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2005-03-27,L Haxton,JMT,NO406331,,Caird Park,,HumanObservation,present,,1\nDS65931,,SWT_2014,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus vulgaris,NBNSYS0000005108,,Accepted - considered correct,2005-03-27,LOL Staff and Volunteers,L Bamforth,NO0494143887,,Loch of the Lowes,,HumanObservation,present,Count of Adult. Field Observation.,1\nDS26346,,SSBRC CS2005.2,,The Scottish Squirrel Database,SWT,CC-BY,Scottish Wildlife Trust,Sciurus carolinensis,NHMSYS0000332764,,Accepted - considered correct,2005-03-28,David Thomson,JMT,NT688275,,NT6827,'Ploughlands'"
 551 27 392 33]

In [5]:
column_names = df.columns.tolist()

print(column_names)

['_id', 'NBN Atlas record ID', 'Occurrence ID', 'Licence', 'Rightsholder', 'Scientific name', 'Taxon author', 'Common name', 'Species ID (TVK)', 'Taxon Rank', 'Occurrence status', 'Start date', 'Start date day', 'Start date month', 'Start date year', 'Locality', 'OSGR', 'Latitude (WGS84)', 'Longitude (WGS84)', 'Coordinate uncertainty (m)', 'Determiner', 'count', 'Identification verification status', 'Basis of record', 'Survey key', 'Dataset name', 'Dataset ID', 'Data provider', 'Data provider ID', 'Institution code', 'Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'OSGR 100km', 'OSGR 10km', 'OSGR 2km', 'OSGR 1km', 'Country', 'State/Province', 'Occurrence remarks', 'Abundance', 'Abundance scale', 'Sex', 'Life stage']

In [6]:
columns_to_keep = ['Start date', 'Start date day', 'Start date month', 'Start date year', 'OSGR', 'Latitude (WGS84)', 'Longitude (WGS84)', 'Coordinate uncertainty (m)', 'count', 'Occurrence ID', 'Survey key', 'OSGR 100km', 'OSGR 10km', 'OSGR 2km',
                   'OSGR 1km', 'State/Province']

df = df.loc[:, columns_to_keep]

print(df)

       Start date  Start date day  Start date month  Start date year  \
0      26/07/2016              26                 7             2016
1      10/07/2009              10                 7             2009
2      20/07/2018              20                 7             2018
3      25/07/2011              25                 7             2011
4      12/07/2010              12                 7             2010
...           ...             ...               ...              ...
93114  14/04/2016              14                 4             2016
93115  21/04/2015              21                 4             2015
93116  01/04/2016               1                 4             2016
93117  29/04/2015              29                 4             2015
93118  15/04/2018              15                 4             2018

               OSGR  Latitude (WGS84)  Longitude (WGS84)  \
0            NY1386         55.165225          -3.359357
1        NH79854615         57.489643          -4.005926
2      NN9996400642         56.187858          -3.613417
3          NO135110         56.284002          -3.397993
4            NO5198         57.074953          -2.801609
...             ...               ...                ...
93114  NX5676799233         55.266377          -4.255756
93115        NX8455         54.880870          -3.801820
93116  NX7034497031         55.250363          -4.041226
93117  NS4244791346         56.088863          -4.533823
93118  NO4625549670         56.635761          -2.877778

       Coordinate uncertainty (m) count Occurrence ID          Survey key  \
0                           707.1     1      GR195854               GSSRS
1                             7.1     1       DS44376     HRSG CS 11.2010
2                             0.7     1       OS25701             SSRSWEB
3                            70.7     2       DS50364    PKRSG.18.04.2012
4                           707.1     1        DS7168  NESBREC.2011.08.03
...                           ...   ...           ...                 ...
93114                         0.7     1       FR43783     FeederBoxSurvey
93115                       707.1     1      GR192896               GSSRS
93116                         0.7     1       FR43840     FeederBoxSurvey
93117                         0.7     1       FR25383     FeederBoxSurvey
93118                         0.7     1       FR39003     FeederBoxSurvey

      OSGR 100km OSGR 10km OSGR 2km OSGR 1km State/Province
0             NY      NY18    NY18I   NY1386       Scotland
1             NH      NH74    NH74Y   NH7946       Scotland
2             NN      NN90    NN90V   NN9900       Scotland
3             NO      NO11    NO11F   NO1311       Scotland
4             NO      NO59    NO59E   NO5198       Scotland
...          ...       ...      ...      ...            ...
93114         NX      NX59    NX59U   NX5699       Scotland
93115         NX      NX85    NX85M   NX8455       Scotland
93116         NX      NX79    NX79D   NX7097       Scotland
93117         NS      NS49    NS49F   NS4291       Scotland
93118         NO      NO44    NO44U   NO4649       Scotland

[93119 rows x 16 columns]

In [7]:
unique_values = df['State/Province'].unique()
unique_count = df['State/Province'].nunique()

print(unique_values)
print(unique_count)

['Scotland' 'England' 'Wales']
3

In [8]:
df = df[df['State/Province'] == 'Scotland']

unique_values = df['State/Province'].unique()
unique_count = df['State/Province'].nunique()

print(unique_values)
print(unique_count)

['Scotland']
1

In [9]:
df.drop('State/Province', axis=1, inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
print(df.head())

   Start date  Start date day  Start date month  Start date year  \
0  26/07/2016              26                 7             2016
1  10/07/2009              10                 7             2009
2  20/07/2018              20                 7             2018
3  25/07/2011              25                 7             2011
4  12/07/2010              12                 7             2010

           OSGR  Latitude (WGS84)  Longitude (WGS84)  \
0        NY1386         55.165225          -3.359357
1    NH79854615         57.489643          -4.005926
2  NN9996400642         56.187858          -3.613417
3      NO135110         56.284002          -3.397993
4        NO5198         57.074953          -2.801609

   Coordinate uncertainty (m) count Occurrence ID          Survey key  \
0                       707.1     1      GR195854               GSSRS
1                         7.1     1       DS44376     HRSG CS 11.2010
2                         0.7     1       OS25701             SSRSWEB
3                        70.7     2       DS50364    PKRSG.18.04.2012
4                       707.1     1        DS7168  NESBREC.2011.08.03

  OSGR 100km OSGR 10km OSGR 2km OSGR 1km
0         NY      NY18    NY18I   NY1386
1         NH      NH74    NH74Y   NH7946
2         NN      NN90    NN90V   NN9900
3         NO      NO11    NO11F   NO1311
4         NO      NO59    NO59E   NO5198

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93079 entries, 0 to 93118
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Start date                  93079 non-null  object
 1   Start date day              93079 non-null  int64
 2   Start date month            93079 non-null  int64
 3   Start date year             93079 non-null  int64
 4   OSGR                        93079 non-null  object
 5   Latitude (WGS84)            93079 non-null  float64
 6   Longitude (WGS84)           93079 non-null  float64
 7   Coordinate uncertainty (m)  93079 non-null  float64
 8   count                       93061 non-null  object
 9   Occurrence ID               93079 non-null  object
 10  Survey key                  93079 non-null  object
 11  OSGR 100km                  93079 non-null  object
 12  OSGR 10km                   93079 non-null  object
 13  OSGR 2km                    92265 non-null  object
 14  OSGR 1km                    92263 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 11.4+ MB

In [13]:
unique_values = df['Start date day'].unique()
unique_count = df['Start date day'].nunique()

print(unique_values)
print(unique_count)

[26 10 20 25 12  8 14 30 27  4  3  1 15 21 11 16 18 28 13  7 17  2  5  9
 29 24 19 23 22 31  6]
31

In [14]:
null_count = df['Start date day'].isnull().sum()
print(null_count)

nan_count = df['Start date day'].isna().sum()
print(nan_count)

0
0

In [15]:
most_freq = df['Start date day'].value_counts().sort_values(ascending=False)

most_freq

Start date day
1     7624
15    3278
21    3259
24    3112
12    3092
22    3062
14    3041
20    3035
23    3030
17    2971
27    2960
25    2952
10    2919
18    2901
16    2888
13    2875
28    2858
4     2844
19    2828
30    2824
2     2797
11    2768
29    2767
26    2744
8     2732
5     2706
3     2686
7     2685
6     2657
9     2655
31    1529
Name: count, dtype: int64

In [16]:
unique_SDM = df['Start date month'].unique()
print(unique_SDM)

[ 7 11  9 12  6  5  4  1  2  3 10  8]

In [17]:
null_count = df['Start date month'].isnull().sum()
print(null_count)

nan_count = df['Start date month'].isna().sum()
print(nan_count)

0
0

In [18]:
most_freq = df['Start date month'].value_counts().sort_values(ascending=False)

most_freq

Start date month
9     12043
4     11836
10     9824
3      9407
1      7767
5      7547
7      7359
6      7320
8      6072
11     5531
2      4717
12     3656
Name: count, dtype: int64

In [19]:
unique_SDY = df['Start date year'].unique()
print(unique_SDY)

[2016 2009 2018 2011 2010 2012 2019 2015 2013 2020 2021 2007 2014 2004
 2005 2008 2017 2000 2006 2002 1994 1995 1998 1997 2001 1993 1999 1991
 1996 2003 1990 1984 1905 1981 1988 1980 1966 1960 1989 1975 1983 1976
 1992 1973 1985 1978 1971 1986 1977 1979 1954 1967 1982 1970 1987 1947
 1950 1972 1965 1959 1974 1969 1938]

In [20]:
nan_count = df['Start date year'].isna().sum()
print(nan_count)

null_count = df['Start date year'].isnull().sum()
print(null_count)

0
0

In [21]:
top_ten = df['Start date year'].value_counts().nlargest(10)

top_ten

Start date year
2020    17043
2019     9312
2018     8295
2017     5946
2021     5593
2015     5388
2016     4917
2014     4181
2012     3853
2013     3613
Name: count, dtype: int64

In [22]:
earliest = df['Start date year'].min()

earliest

1905

In [23]:
bottom_ten = df['Start date year'].value_counts().nsmallest(10)

bottom_ten

Start date year
1954    1
1947    1
1973    1
1972    1
1965    1
1959    1
1974    1
1969    1
1950    2
1978    2
Name: count, dtype: int64

In [24]:
df.rename(columns={'Start date year':'year'}, inplace=True)
df.rename(columns={'Start date month':'month'}, inplace=True)
df.rename(columns={'Start date day':'day'}, inplace=True)

In [25]:
df['Date'] = pd.to_datetime(df[['day','month','year']], format='%d-%m-%y')

In [26]:
df['Date']

0       2016-07-26
1       2009-07-10
2       2018-07-20
3       2011-07-25
4       2010-07-12
           ...
93114   2016-04-14
93115   2015-04-21
93116   2016-04-01
93117   2015-04-29
93118   2018-04-15
Name: Date, Length: 93079, dtype: datetime64[ns]

In [27]:
df['count'] =pd.to_numeric(df['count'], errors='coerce')

In [28]:
dtype_A = df['count'].dtype

print(dtype_A)

float64

In [29]:
df['count'] = df['count'].fillna(df['count'].mean())
df[['x']] = df[['count']].astype(int)

In [30]:
df['count'] = df['count'].astype(int)

In [31]:
dtype_A = df['count'].dtype

print(dtype_A)

int64

In [32]:
unique_vals = df['count'].unique()

print(unique_vals)

[   1    2    3    5    4    6    9   10    7    8   20  112   12   25
   41   36   50   13   44  118   11   16   30   28   15   14  120  181
   39   61   19  130  125   17   18 1042   34   52   23  111   51   32
   45  109  500   31  203   21   22  551   27  392   33]

In [33]:
length = len(df)

print(length)

93079

In [34]:
null_in_count = df['count'].isnull().sum()
print(null_in_count)

nan_count = df['count'].isna().sum()
print(nan_count)

0
0

In [35]:
average_value = df['count'].mean()

print(average_value)

1.3787965061936633

In [36]:
count_data = df['count'].describe()

print(count_data)

count    93079.000000
mean         1.378797
std          4.720172
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max       1042.000000
Name: count, dtype: float64

In [37]:
highest_observation = df['count'].max()

print("Highest observation is:", highest_observation)

Highest observation is: 1042

In [39]:
# Convert the DataFrame to a GeoDataFrame

import geopandas as gpd

df = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['Longitude (WGS84)'], df['Latitude (WGS84)']))

In [40]:
print(df.head())

   Start date  day  month  year          OSGR  Latitude (WGS84)  \
0  26/07/2016   26      7  2016        NY1386         55.165225
1  10/07/2009   10      7  2009    NH79854615         57.489643
2  20/07/2018   20      7  2018  NN9996400642         56.187858
3  25/07/2011   25      7  2011      NO135110         56.284002
4  12/07/2010   12      7  2010        NO5198         57.074953

   Longitude (WGS84)  Coordinate uncertainty (m)  count Occurrence ID  \
0          -3.359357                       707.1      1      GR195854
1          -4.005926                         7.1      1       DS44376
2          -3.613417                         0.7      1       OS25701
3          -3.397993                        70.7      2       DS50364
4          -2.801609                       707.1      1        DS7168

           Survey key OSGR 100km OSGR 10km OSGR 2km OSGR 1km       Date  x  \
0               GSSRS         NY      NY18    NY18I   NY1386 2016-07-26  1
1     HRSG CS 11.2010         NH      NH74    NH74Y   NH7946 2009-07-10  1
2             SSRSWEB         NN      NN90    NN90V   NN9900 2018-07-20  1
3    PKRSG.18.04.2012         NO      NO11    NO11F   NO1311 2011-07-25  2
4  NESBREC.2011.08.03         NO      NO59    NO59E   NO5198 2010-07-12  1

                    geometry
0  POINT (-3.35936 55.16522)
1  POINT (-4.00593 57.48964)
2  POINT (-3.61342 56.18786)
3  POINT (-3.39799 56.28400)
4  POINT (-2.80161 57.07495)

In [53]:
!pip install folium
import folium
from folium.plugins import HeatMap

df_jan_2021 = df[(df['year'] == 2021) & (df['month'] == 1)]


# Create a Folium map
def Generate_basemap():
    basemap = folium.Map(location=[55.9533, -3.1883], zoom_start=6)
    HeatMap(data=df_jan_2021[['Latitude (WGS84)', 'Longitude (WGS84)']], radius=15).add_to(basemap)
    return basemap

# Display the map
basemap = Generate_basemap()
basemap

Requirement already satisfied: folium in /usr/local/lib/python3.10/dist-packages (0.17.0)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from folium) (0.7.2)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from folium) (3.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from folium) (1.26.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.10/dist-packages (from folium) (2024.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.9->folium) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2024.8.30)